{% extends "layout.html.twig" %}
{#mettre le contenue de la page dans les balises block#}

{#notifications#}

{% block content %}
    <div class="row">
        <div class="col-lg-3">
            <img class="img-fluid" src="{{ asset(film.image,'imgVIDEO') }}" alt="">
        </div>
        <div class="col-lg-9">
            <div class="row">
                <h5>Titre : </h5>{{ film.titrevideo }} |
                <h5>type : </h5>
                    {% for type in film.type %}
                        {{ type.libtype }}
                    {% endfor %}
            </div>
            <hr>
            <div class="row">
                {{ film.synopsis }}
            </div>
        </div>
    </div>
    <hr>
    <section class="section team-section pb-5">
        <h2 class="section-heading h1 pt-4">Distribution : </h2><br>
        <div class="row text-center">
            {% for participant in film.participant %}
                <!--Grid column-->
                <div class="col-lg-4 col-md-8 mb-r">
                    <div class="avatar">
                        <img class="img-fluid" src="{{ asset(participant.image,'imgPARTICIPANT') }}"
                             alt="Image de {{ participant.prenomparticipant }}" class="rounded-circle z-depth-1">
                    </div>
                    <h4>{{ participant.prenomparticipant }}
                        {{ participant.nomparticipant }}</h4>
                    <h6 class="font-bold blue-text">{{ participant.datenaissance|date('d/m/Y') }}</h6>
                    <p>{{ participant.idpays.nompays }}</p>
                </div>
                <!--Grid column-->
            {% endfor %}
        </div>
        <!--Grid row-->

    </section>
    {#<a href="{{ path('film',{id:film.idvideo}) }}" class="alert-link">Ajouter participant au film</a>#}

    <style>

    </style>

{% endblock %}